<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href="./styles.css">
</head>

<body>
    {{>header}}
    
    <h1>{{title}}</h1>
    <img src='./img/profilepic.png'>
    <p>Created by {{name}}</p>
</body>

</html>